<%= form_with model: @role, url: @role.persisted? ? entities_role_path(@role) : entities_roles_path, method: @role.persisted? ? :patch : :post, local: true, class: "row g-3 needs-validation p-2" do |form| %>
  <%= render 'layouts/partials/form_actions', form: form, back_path: entities_roles_path %>

  <div class='row pt-0 g-0 mt-4'>
    <div class='col-md-12'>
        <%= render 'layouts/partials/form_section', title: "Descrição do Papel de Entidade", fields: entities_roles_fields, form: form %>
    </div>   
  </div>

<% end %>

